<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>UserRepositorySystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>insert_user</servlet-name>
  <servlet-class>servlets.SaveUserServlet</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>view_user</servlet-name>
  <servlet-class>servlets.ViewProfile</servlet-class>
  </servlet>
  
  
  <servlet>
  <servlet-name>add_link</servlet-name>
  <servlet-class>servlets.AddLinks</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>add_chkbx</servlet-name>
  <servlet-class>servlets.AddChkbx</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>delete_link</servlet-name>
  <servlet-class>servlets.DeleteLink</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>delete_chkbx</servlet-name>
  <servlet-class>servlets.DeleteChkbx</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>fbgmail</servlet-name>
  <servlet-class>FbGmailIndex</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>edit_user</servlet-name>
  <servlet-class>servlets.EditUser</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Update_user</servlet-name>
  <servlet-class>servlets.EditUserDetails</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Delete_user</servlet-name>
  <servlet-class>servlets.DeleteUser</servlet-class>
  </servlet>
  
</web-app>